// Custom widget for external links
.ext-links {
	padding: 0;
	margin: 0;
	list-style-type: none;

	li { width: 25%; }
}

.ext-link {
	display: block;
	max-width: 60px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;

	&:focus,
	&:hover {
		text-decoration: underline;
	}

	figure { margin: 0; }

	svg { max-height: 60px; } // fix for IE 11

	path,
	g {
		transition: fill 0.2s ease-in;
	}

	&.gitlab {
		.dark-grey { fill: $color__gl-dark-grey; }
		.medium-grey { fill: $color__gl-medium-grey; }
		.light-grey { fill: $color__gl-light-grey; }

		&:focus,
		&:hover {
			.red { fill: $color__gl-red; }
			.orange { fill: $color__gl-orange; }
			.yellow { fill: $color__gl-yellow; }
		}
	}

	&.github {
		.dark-grey { fill: $color__gl-dark-grey; }

		&:focus,
		&:hover {
			.black { fill: #000; }
		}
	}
}