// rem output with px fallback
@mixin font-size($sizeValue: 0.625) {
	font-size: $sizeValue * 1px;
	font-size: ($sizeValue / 10) * 1rem;
}

// original underscores mixin
// @mixin font-size($sizeValue: 1) {
// 	font-size: ($sizeValue * 16) * 1px;
// 	font-size: $sizeValue * 1rem;
// }


// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}